[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
nbformat = "*"
jupyter = "*"

[packages]
fastai = "*"
torchaudio = "*"
pydub = "*"
librosa = "*"
matplotlib = "*"
fire = "*"

[requires]
python_version = "3.6"
